.detailCards {
    padding: 20px;
    background: rgba(255, 255, 255, 0.432);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .personalDetails {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .profile input::placeholder {
    color: var(--gray);
  }
  .profile input:disabled {
    opacity: 0.5;
  }
  .profile__img img {
    width: 200px;
    height: 200px;
  }